body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background: rgb(129, 123, 231);
    background: radial-gradient(circle, rgba(129, 123, 231, 1) 0%, rgba(215, 131, 195, 0.7343312324929971) 35%, rgba(0, 212, 255, 1) 100%);
    animation: gradientBG 15s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.token {
    width: 300px;
    box-shadow: 0 8px 16px rgba(5, 5, 5, 0.3);
    padding: 2px, 16px;
    margin: 16px;
    border-radius: 8px;
}

img {
    border: .3px rgba(#111111);
    box-shadow: 10px 10px 8px rgba(#111111);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-top: 10px;
}

.container-filled {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15%;
}